<div class="container" align="left">
	<div class="terms-title">
		About Us
	</div>
<br>
Disability Legal Network is a marketing service that matches each prospective 

disability claimant with an attorney based upon the willingness of the attorney to 

accept cases in the prospective claimant’s geographical region. The attorneys in 

our network pay a fee for their chosen geographic regions and you are matched 

with an attorney solely based upon the zip code you entered into our online 

questionnaire. There is no other method that we utilize to send your information to 

our participating attorneys and advocates. Choosing an attorney or advocate is an 

important decision and one that should be done with careful consideration.

Once you complete our qualification form, you will receive a guide that explains 

disability benefits and the requirements to receive disability benefits. We will 

send your contact information to a disability attorney in our network, who will call 

you for a free evaluation. Should you decide that you would like to work with an 

attorney further, certain fees will apply.
</div>