<div class="container" align="left">
	<div class="terms-title">
		Fees
	</div>
<br>
Fees to enroll vary by case depending on your specific financial and medical 

situation. Fees never exceed $7,000, and you only pay them if you win disability 

benefits. Complete our qualification form and an attorney will contact you with 

more information on the fees that apply to your specific case.
</div>