<div class="container" align="left">
	<div class="terms-title">
		Fees
	</div>
<br>
Fees to enroll vary by case depending on your specific financial and medical 

situation. Fees never exceed $7,000, and you only pay them if you win disability 

benefits. Complete our qualification form and an attorney will contact you with 

more information on the fees that apply to your specific case.
<br><br>
You will not be charged a fee unless your attorney or advocate wins your case.  The fees are set by the Social Security Administration and your representative is not allowed to charge more than $6,000 or 25% of all past due benefits whichever is less through the initial hearing.  If you are not successful at the initial hearing and your attorney/advocate must appeal your case, they can charge additional fees which will be stated in your fee agreement with that attorney/advocate.  Each attorney or advocate will have you sign a fee agreement that will allow them to be paid a fee directly by the Social Security Administration.  A typical fee agreement that you will sign is listed below:
<br><br>

CONSENT ATTORNEY/ADVOCATE FEE AGREEMENT
<br>
(Contingent Fee -– Social Security Cases)
<br><br>
 
I, ________________, SSN # xxx-xx-xxxx, hereby retain__________________, Attorney at Law or Advocate, to represent me in my claim for Social Security and/or Supplemental Security Income disability benefits, on the following terms:
<br><br> 
1.     I will pay no fee at all unless I win my case.
<br><br> 
2.     I understand that all attorney fees in Social Security cases are subject to the approval of the Social Security Administration (SSA) and any fee my attorney charges or collects from me for his services must be approved by the SSA.
<br><br> 
3.     We agree that if the SSA favorably decides my claim at any stage through the first hearing at the Administrative Law Judge (ALJ) level of appeal, I will pay my attorney a fee of either $6,000 or 25% of all past-due benefits resulting from my claim, whichever is less.
<br><br> 
4.     We agree that if the SSA favorably decides my claim at the Appeals Council level; or at the ALJ hearing level after a decision by the Appeals Council or Federal Court; or if a Federal Court favorably decides my case, I will pay my attorney a fee equal to 25% of all past due benefits in my Social Security and/or SSI disability claims.
<br><br>
5.     We understand that Social Security “past-due benefits” are the total amount of money to which I, and any family members who qualify on my account, become entitled through the month before the month the SSA makes a favorable administrative decision on my Social Security claim; and that Supplemental Security Income (SSI) “past-due benefits” are the total amount of money for which I become eligible through the month the SSA makes a favorable administrative decision on my SSI claim.
<br><br> 
6.     After I win my case, in addition to the attorney’s fee, I will reimburse my attorney or advocate, for all expenses incurred in prosecuting my claim.  These expenses will include, but are not limited to, doctors’ reports, copies of medical records, postage and photocopying.
<br><br> 
7.     If my case is appealed to Federal Court, and if the Court orders the SSA to pay attorney fees under the Equal Access to Justice Act, such fees shall belong to my attorney to the extent permitted by law.
<br><br> 
8.     My attorney and I have signed copies of this agreement.
<br><br> 
</div>