<div class="container bgimg" align="center">
	<img src="/assets/logo.png" class="logo">
	<img src="/assets/header.png" class="header-phone">
	<div class="formimg">
		<div class="form-heading">
			Do You Qualify for Benefits?
		</div>
		<div class="progress">
			<div class="bar" style="width:30%;"></div>
		</div>
		<%= form_for User.new, remote: true, :html => {:id => "form1"} do |f| %>
			<%= f.label :age, 'How old are you?' %>
			<%= f.select :age, options_for_select(("18".."62")), {:include_blank => 'Select from'}, :onchange => ("$('#form1').submit()") %>
			<div id="newsubmit1"/>
		<% end %>
	</div>
</div>
<div>
	<img src="/assets/box.png" class="info-box">
</div>
<div class="container">
	<div class="logos-box">
		<img src="/assets/logos.png" class="logos">
	</div>
</div>
<%= render '/users/form2' %>