<% content_for :head do %>
<% end %>

<div class="container bgimg" align="center">
	<img src="/assets/logo.png" class="logo">
	<img src="/assets/header.png" class="header-phone">
	<div class="thanks-phrase">
		Thanks! One of our consultants will contact you soon.
	</div>
</div>