<% content_for :head do %>
<% end %>

<div class="container bgimg" align="center">
	<img src="/assets/logo.png" class="logo">
	<div class="thanks-phrase">
		Thanks! One of our consultants will contact you soon.
		<a class="download-guide" href="https://s3.amazonaws.com/ss-guide/Disability+Guide.pdf" target="_blank"> Download Your Guide! </a>
	</div>
</div>
<div class='container' align="center">
	<a href="http://delta.rspcdn.com/xprr/red/PID/2034/SID/sid_here"><img src="http://disabilitylegalnetwork.com/wp-content/uploads/2013/07/MKT_RevenMedia_NewLoanMatch_Creative.png" alt="Loan Match" width="981" height="491" class="alignnone size-full wp-image-129" /></a>
	<img src="http://www.rsptrack.com/impression.track?CID=257922&AFID=277387" height="1" width="1" />
</div>
<!-- Google Code for SSDI Form Submitted Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 980531605;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "GMgxCJvQrAYQlfPG0wM";
var google_conversion_value = 22;
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/980531605/?value=22&amp;label=GMgxCJvQrAYQlfPG0wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<script type="text/javascript"> if (!window.mstag) mstag = {loadTag : function(){},time : (new Date()).getTime()};</script> <script id="mstag_tops" type="text/javascript" src="//flex.msn.com/mstag/site/c8fdde1c-1aeb-4623-bac1-199608711323/mstag.js"></script> <script type="text/javascript"> mstag.loadTag("analytics", {dedup:"1",domainId:"2343010",type:"1",actionid:"152459"})</script> <noscript> <iframe src="//flex.msn.com/mstag/tag/c8fdde1c-1aeb-4623-bac1-199608711323/analytics.html?dedup=1&domainId=2343010&type=1&actionid=152459" frameborder="0" scrolling="no" width="1" height="1" style="visibility:hidden;display:none"> </iframe> </noscript>

<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6008936303741';
fb_param.value = '0.00';
fb_param.currency = 'USD';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6008936303741&amp;value=0&amp;currency=USD" /></noscript>