<% content_for :head do %>
<% end %>

<div class="container bgimg" align="center">
	<img src="/assets/logo.png" class="logo">
	<div class="thanks-phrase">
		Congratulations! You are eligible for Benefits and will be contacted by a Disability Attorney shortly. This consultation is completely free and non-binding.
		<br>
		<a class="download-guide" href="https://s3.amazonaws.com/ss-guide/Disability+Guide.pdf" target="_blank"> Download Your Guide! </a>
	</div>
</div>
<!-- Google Code for SSDI Form Submitted Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 980531605;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "GMgxCJvQrAYQlfPG0wM";
var google_conversion_value = 22;
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/980531605/?value=22&amp;label=GMgxCJvQrAYQlfPG0wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6008936303741';
fb_param.value = '0.00';
fb_param.currency = 'USD';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6008936303741&amp;value=0&amp;currency=USD" /></noscript>