<% content_for :head do %>
<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6010312579341';
fb_param.value = '0.00';
fb_param.currency = 'USD';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6010312579341&amp;value=0&amp;currency=USD" /></noscript>
<% end %>


<div class="container-fluid" align="left">
	<img src="/assets/logo.png" class="logo">
</div>
<div class="bgimg">
	<div class="container-fluid" align="center">
		<div class="thanks-text">
			Thank you! One of our business consultants will contact you soon.<br><br> If you would rather
			not wait, please call us direct at 888-400-9132
		</div>
	</div>
</div>