<% content_for :head do %>
<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6010312579341';
fb_param.value = '0.00';
fb_param.currency = 'USD';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6010312579341&amp;value=0&amp;currency=USD" /></noscript>
<% end %>


<div class="container" align="center">
	<img src="/assets/logo.png" class="logo">
</div>
<div class="bgimg">
	<div class="container" align="center">
		<div class="thanks-text">
			Thank you! One of our business consultants will contact you soon.<br><br> If you would rather
			not wait, please call us direct at 888-400-9132
		</div>
	</div>
</div>
<div class="container other-content" align="center">
	<div class="row">
		<div class="span4 steps">
			<img src='/assets/step1.png'>1. Quick Survey
			<div class="step-subtext">
				Find Out If You Qualify, 100% FREE!
			</div>
		</div>
		<div class="span4 steps">
			<img src='/assets/step2.png'>2. Get an Instant Answer
			<div class="step-subtext">
				Receive an offer within minutes
			</div>
			
		</div>
		<div class="span4 steps">
			<img src='/assets/step3.png'>3. Get Your Money
			<div class="step-subtext">
				Wired to you within days
			</div>
		</div>
	</div>
	<hr>
	<hr>
	<div class="details">
		<div class="details-title">
			Why Choose Instant Business Cash?
		</div>
		If you don’t qualify for traditional business loans, or if the bank has denied your loan, Instant Business Loans can help. We provide cash for businesses with urgent cash needs. All you need to qualify is a business bank account and to have been in business for at least 2 months. We accept businesses with less than perfect credit scores.
	</div>
	<div class="details">
		<div class="details-title">
			No Prepayment Penalties
		</div>
		You can repay monthly, or prepay with no prepay penalty! You only pay interest for the days that you have borrowed, and you can use funding for nearly any business purpose.
	</div>
</div>
