<div id="form6">
	<div class="row">
		<div class="span2">
			<%= label_tag :first_name %>
			<%= text_field_tag :first_name, nil, :placeholder => "First Name" %>
		</div>
		<div class="span2">
			<%= label_tag :last_name %>
			<%= text_field_tag :last_name, nil, :placeholder => "Last Name" %>
		</div>
	</div>
	<div class="desc">
	</div>
	<div class="message" id="name_error"></div>
	<div class='submit', id="submit6">
		Next
	</div>
	<div class="back-link" id="back-link-5">Back</div>
</div>

<script type="text/javascript">
	$('#submit6').click(function(event) {
  		event.preventDefault();
  		if ($('input#first_name').val().length < 1 || $('input#last_name').val().length < 1) {
			event.preventDefault();
			$('#name_error').empty().append("Please enter your full name");
		}
		else {
			$.ajax({
			  type: "POST",
			  url: $('#form6').attr('action'),
			  data: { name: $("#first_name").val() + " " + $("#last_name").val() },
			  dataType: "script",
			  async: false
			});
			$('#form6').hide();
			$('#form7').show().insertAfter('div.progress');
			$('.bar').attr('style', 'width:95%;');
		}
	});
	$('input#first_name').blur(function(event){
		if ($('input#first_name').val().length < 1) {
			event.preventDefault();
			$('#name_error').empty().append("Please enter your first name");
		}
		if ($('input#first_name').val().length > 0) {
			$('#name_error').empty();
		}
	});
	$('input#last_name').blur(function(event){
		if ($('input#last_name').val().length < 1) {
			event.preventDefault();
			$('#name_error').empty().append("Please enter your last name");
		}
		if ($('input#last_name').val().length > 0) {
			$('#name_error').empty();
		}
	});
	$('#back-link-5').click(function(){
		$('#form6').hide();
		$('#form5').show().insertAfter('div.progress');
	});
</script>