<div id="form2b">
	<%= label_tag :veteran, 'Military Status:' %>
	<%= select_tag :veteran, options_for_select(veteran_options), :include_blank => true %>
	<div class="message" id="veteran_error"></div>
	<div class='submit', id="submit2b">
		Next
	</div>
	<div class="back-link" id="back-link-1b">Back</div>
</div>
<script type="text/javascript">
	$('#submit2b').click(function(event) {
  		event.preventDefault();
  		if ($('#veteran').val() == "") {
			event.preventDefault();
			$('#veteran_error').empty().append("Please select an option");
		}
		if ($('#veteran').val() != "") {
			$.ajax({
				type: "POST",
				url: $('#form2b').attr('action'),
				data: { veteran: $("#veteran").val() },
				dataType: "script",
				async: false
			});
			$('#form2b').hide();
			$('#form3').show().insertAfter('div.progress');
			$('.bar').attr('style', 'width:50%;');
		}



	});
	$('#back-link-1b').click(function(){
		$('#form2b').hide();
		$('#form2').show().insertAfter('div.progress');
	});
	$('select#veteran').bind('click change',function() {
		if ($('#veteran').val() == "") {
			event.preventDefault();
			$('#veteran_error').empty().append("Please select an option");
		}
		else{
			$('#veteran_error').empty();
		}
	});
</script>