<div id="form3">
	<%= label_tag :employment, 'Your employment status is:' %>
	<%= select_tag :employment, options_for_select(employment_options) %>
	<div class="desc">
		You must be making less than $1,500 per/month to qualify.
	</div>
	<div class="message" id="employment_error"></div>
	<div class='submit', id="submit3">
		Continue
	</div>
	<div class="back-link" id="back-link-2">Back</div>
</div>

<script type="text/javascript">
	$('#submit3').click(function(event) {
  		event.preventDefault();
		$.ajax({
		  type: "POST",
		  url: $('#form3').attr('action'),
		  data: { employment: $("#employment").val() },
		  dataType: "script",
		  async: false
		});
		$('#form3').hide();
		$('#form4').show().insertAfter('div.progress');
		$('.bar').attr('style', 'width:60%;');
	});

	$('#back-link-2').click(function(){
		$('#form3').hide();
		$('#form2').show().insertAfter('div.progress');
		$('#newsubmit2').empty().append($('<input class="submit" id="submit7" name="commit" type="submit" value="Next">'));
	});
</script>