<div id="form2">
	<%= label_tag :zipcode, 'Your zipcode is:' %>
	<%= text_field_tag :zipcode, nil, placeholder: "Zipcode", :style => "width:120px;" %>
	<div class="message" id="zip_error"></div>
	<div class='submit', id="submit2">
		Next
	</div>
	<div class="back-link" id="back-link-1">Back</div>
</div>
<script type="text/javascript">
	$('#submit2').click(function(event) {
  		event.preventDefault();
  		$.ajax({
			type: "POST",
			url: '/checkzip',
			data: { zipcode: $('input#zipcode').val() },
				  dataType: "script",
				  async: false,
				  success: function(response) {
				  	var response = JSON.parse(response)
					if (response == "no") {
						event.preventDefault();
						$('#zip_error').empty().append("Please enter a valid zipcode");
					}
					else {
						$.ajax({
						  type: "POST",
						  url: $('#form2').attr('action'),
						  data: { zipcode: $("#zipcode").val() },
						  dataType: "script",
						  async: false
						});
						$('#form2').hide();
						$('#form3').show().insertAfter('div.progress');
						$('.bar').attr('style', 'width:40%;');
					}
				  }
		});
	});
	$('#back-link-1').click(function(){
		$('#form2').hide();
		$('#form1').show().insertAfter('div.progress');
		$('#newsubmit1').empty().append($('<input class="submit" id="submit6" name="commit" type="submit" value="Next">'));
	});
	$('input#zipcode').blur(function(event){
		$.ajax({
			type: "POST",
			url: '/checkzip',
			data: { zipcode: $('input#zipcode').val() },
				  dataType: "script",
				  async: false,
				  success: function(response) {
				  	var response = JSON.parse(response)
					if (response == "no") {
						event.preventDefault();
						$('#zip_error').empty().append("Please enter a valid zipcode");
					}
					if (response == "yes") {
						$('#zip_error').empty();
					}
				  }
		});
	});
</script>