<div id="form5c">
	<%= label_tag :desc, 'Describe your disability and how it prevents you from working' %>
	<%= select_tag :desc, options_for_select(desc_options) %>
	<div class="desc">
	</div>
	<div class="message" id="desc_error"></div>
	<div class='submit', id="submit5c">
		Continue
	</div>
	<div class="back-link" id="back-link-5c">Back</div>
</div>

<script type="text/javascript">
	$('#submit5c').click(function(event) {
  		event.preventDefault();
		$.ajax({
		  type: "POST",
		  url: $('#form5c').attr('action'),
		  data: { desc: $("#desc").val() },
		  dataType: "script",
		  async: false
		});
		$('#form5c').hide();
		$('#form6').show().insertAfter('div.progress');
		$('.bar').attr('style', 'width:94%;');
	});

	$('#back-link-5c').click(function(){
		$('#form5c').hide();
		$('#form5b').show().insertAfter('div.progress');
	});
</script>