<div class="container">
	<div class="row">
		<div class="span5">
			Campaign
		</div>
		<div class="span2">
			Complete?
		</div>
		<div class="span2">
			Qualified?
		</div>
		<div class="span3">
			Time
		</div>
	</div>
	<br>
	<% @users.each do |u| %>
		<div class="row">
			<div class="span5">
				<%= u.campaign %>
			</div>
			<div class="span2">
				<% if u.zipcode && u.age && u.phone && u.email && u.name && u.employment && u.attorney && u.medical %>
				Complete
				<% else %>
				Partial
				<% end %>
			</div>
			<div class="span2">
				<% if u.zipcode && u.age && u.phone && u.email && u.name && u.employment == "Making less than $1500 per month" && u.attorney == "No" && u.medical == "Yes" %>
				<u><b>Qualified</b></u>
				<% else %>
				Non-Qualified
				<% end %>
			</div>
			<div class="span3">
				<%= u.created_at %>
			</div>
		</div>
	<% end %>
</div>
