<div class="container">
	<div class="row">
		<div class="span2">
			Campaign
		</div>
		<div class="span1">
			Age
		</div>
		<div class="span1">
			Zip
		</div>
		<div class="span1">
			Employ
		</div>
		<div class="span1">
			Attorney
		</div>
		<div class="span1">
			Medical
		</div>
		<div class="span1">
			Name
		</div>
		<div class="span1">
			Email
		</div>
		<div class="span1">
			Phone
		</div>
		<div class="span2">
			Time
		</div>
	</div>
	<br>
	<% @users.each do |u| %>
		<div class="row">
			<div class="span2">
				<%= u.campaign %>
			</div>
			<div class="span1">
				<%= u.age %>
			</div>
			<div class="span1">
				<% if u.zipcode %>
					1
				<% else %>
					0
				<% end %>
			</div>
			<div class="span1">
				<% if u.employment %>
					1
				<% else %>
					0
				<% end %>
			</div>
			<div class="span1">
				<% if u.attorney %>
					1
				<% else %>
					0
				<% end %>
			</div>
			<div class="span1">
				<% if u.medical %>
					1
				<% else %>
					0
				<% end %>
			</div>
			<div class="span1">
				<% if u.name %>
					1
				<% else %>
					0
				<% end %>
			</div>
			<div class="span1">
				<% if u.email %>
					1
				<% else %>
					0
				<% end %>
			</div>
			<div class="span1">
				<% if u.phone %>
					1
				<% else %>
					0
				<% end %>
			</div>
			<div class="span2">
				<%= Time.at(u.created_at) %>
			</div>
		</div>
	<% end %>
</div>
