@import 'bootstrap';

/* Home Banner */

.bgimg{
  background: white url(bgimg.png) no-repeat 30% center;
  height: 446px;
  width: 100%;
  display: block;
}

.logo{
  position: relative;
  left: 10%;
  width: 250px;
  padding-bottom: 10px;
}

span.phone{
  font-size: 18px;
  font-weight: bold;
  color: #313131;
  float: right;
  margin-top: 30px;
  margin-right: 5%;
}

span.phone2{
    font-size: 24px;
    font-weight: bold;
    color: #313131;
    float: right;
    margin-top: 30px;
    margin-right: 5%;
    display: none;
}

.phone2text{
  font-size: 12px;
}

.front-text{
  color: white;
  text-shadow: 1px 1px 3px black;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  text-align: left;
  position: relative;
  margin-top: 40px;
  padding-left: 15%;
  z-index: 1;
}

.front-sub-text{
  color: #313131;
  text-shadow: 1px 1px 3px #CCC;
  font-size: 30px;
  padding-bottom: 30px;
}

.front-text hr {
  width: 300px;
}

span.emptext{
  color: orange;
  font-style: italic;
  font-size: 34px;
}

.front-list-1{
  font-size: 22px;
  color: orange;
}

.form-box{
  position: relative;
  margin-top: 40px;
  z-index: 2;
  display: block;
  height: 350px;
  background: white;
  max-width: 456px;
  border-radius: 8px;
  box-shadow: 2px -2px 4px #CCC;
  border: solid 1px #777;
}

.form-box-header{
  background: darkblue;
  border-radius: 8px 8px 0px 0px;
  padding: 18px;
  font-size: 35px;
  color: white;
  font-weight: bold;
}

.form-box-heading-1{
  padding-top: 25px;
  padding-bottom: 8px;
  font-weight: bold;
  color: darkblue;
  font-size: 15px;
}

div.firstname{
  float: left;
  margin-left: 35px;
  text-align: left;
}

div.lastname{
  float: right;
  margin-right: 35px;
  text-align: left;
}

div.email{
  float: left;
  margin-left: 35px;
  text-align: left;
}

div.phone{
  float: right;
  margin-right: 35px;
  text-align: left;
}

div.businessname{
  float: left;
  margin-left: 35px;
  text-align: left;
}

div.state{
  float: right;
  margin-right: 35px;
  text-align: left;
}

div.bank{
  float: left;
  margin-left: 35px;
  text-align: left;
}

div.age{
  float: right;
  margin-right: 35px;
  text-align: left;
}

input#first_name, input#last_name, input#user_email, input#user_phone, input#user_business_name{
  width: 170px !important;
  height: 35px;
}

#errors1{
  float: left;
  margin-left: 35px;
  text-align: left;
  padding: 0px !important;
}

select#user_state, select#user_bank, select#user_age{
  width: 150px !important;
}

.businessname label, .state label, .bank label, .age label{
  font-size: 11px;
}

#form2{
  display: none;
}

#form3{
  display: none;
}

#consent{
  font-size: 10px;
  line-height: 15px;
  padding: 0px 15px;
  text-align: left;
  float: left;
}

#consent_error{
  float: left;
  margin-left: 30px;  
}

.message{
  color: red;
  padding-bottom: 5px;
  font-size: 11px;
}

.submit{
  background: orange;
  width: 100px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: #313131;
  font-weight: bold;
  border: solid 3px #CCC;
  float: right !important;
  margin-right: 35px;
}

.submit:hover{
  background: #FFBC40;
}

.other-content{
  padding-top: 50px;
}

.other-content img{
  padding-right: 10px;
}

.steps{
font-size: 21px;
font-weight: bold;
color: orangered;
padding-top: 15px;
}

.step-subtext{
  padding-top: 15px;
  padding-left: 30px;
  color: #313131;
  font-size: 15px;
}

.details{
  text-align: left;
  padding-top: 20px;
  color: #313131;
  font-size: 15px;
  padding-bottom: 20px;
}

.details-title{
  padding: 20px 0px;
  font-weight: bold;
  font-size: 17px;
}

.thanks-text{
  background: black;
  opacity: 0.6;
  color: white;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  padding: 20px 10px;
  margin-top: 80px;
}

.footer{
  background: #313131;
  padding: 50px 20px;
}

.footer a {
  color: white !important;
}

/*  Responsive CSS */

@media (max-width: 992px) {
  .front-text{
    display: none;
  }

  .form-box{
    padding-bottom: 50px;
  }

  .logo{
    float: none;
    width: 70%;
  }

  span.phone{
    display: none;
  }

  span.phone2{
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px #777;
    border: solid 1px #CCC;
    background: orange;
    margin-bottom: 5px;
    display: block;
    float: none;
  }

  .message{
    font-size: 9px !important;
  }

  .submit{
    width: 90px !important;
    font-size: 11px;
    padding: 10px 0px;
  }

  input#first_name, input#last_name, input#user_email, input#user_phone, input#user_business_name{
  width: 100px !important;
  height: 35px;
  }

  #errors1{
    float: left;
    margin-left: 35px;
    text-align: left;
    padding: 0px !important;
  }

  select#user_state, select#user_bank, select#user_age{
    width: 100px !important;
    height: 35px;
  }

  .form-box-heading-1 {
    font-size: 13px;
  }

  div.age{
    margin-right: 8px;
    width: 34%;
    padding-top: 15px;
  }

  div.bank{
    margin-left: 8px;
    padding-top: 15px;
    width: 50%;
  }

  .bank label, .age label{
    font-size: 9.5px;
    line-height: 12px;
  }
}