@import 'bootstrap';

.bgimg{
  background-image: url('bgimg.png');
  background-size: cover;
  margin-top: -10px;
  height: 550px;
  background-repeat: no-repeat;
}

@media (max-width: 960px) {
  .bgimg {
    height: inherit;
  }
}

@media (max-width: 960px) {
  .container {
    width: 100%;
  }
}

.header-phone{
  width: 400px;
  position: relative;
  top: 10px;
  left: 80px
}

@media (max-width: 960px) {
  .header-phone {
    display: none;
  }
}

.catch-phrase{
  padding-left: 40px;
  margin-top: 75px;
  font-size: 23px;
  font-weight: bold;
  color: black;
  font-family: 'Arial';
  text-align: left;
}

.formimg{
  background-image: url("form.png");
  height: 210px;
  width: 400px;
  text-align: left;
  background-size: 400px 300px;
  background-repeat: no-repeat;
  position: relative;
  top: 35px;
  left: 265px;
  padding-top: 80px;
  padding-left: 70px;
  padding-left: 0px;
  overflow: hidden;
}

.formimg form {
  padding-left: 80px;
}

@media (max-width: 960px) {
  .formimg {
    position: inherit;
    margin-top: 50px;
    width: 95%;
    background-size: 100% 300px;
  }

  .progress {
    width: 90px !important;
  }
}

.logo{
  width: 350px;
  position: relative;
  top: 15px;
  left: -80px;
}

@media (max-width: 960px) {
  .logo {
    left: 0px;
  }
}

img.info-box{
  position: relative;
  width: 350px;
  top: -185px;
  left: -200px;
}

.box-background{
  width: 300px;
  height: 175px;
  background: #EEE;
  opacity: 0.8;
  border-radius: 30px;
  top: -185px;
  left: -200px;
  position: relative;
  padding: 20px;
  text-align: left;
}


.box-title{
  font-size: 18px;
  padding-bottom: 15px;
}

.box-free{
  font-weight: bold;
  color: orangered;
  font-size: 20px;
}

.box-learn{
  font-style: italic;
}

.box-desc{
  font-size: 16px;
  padding: 10px 0px;
}

.box-bold{
  font-weight: bold;
  font-style: italic;
}

@media (max-width: 960px) {
  .box-background {
    position: inherit;
    margin-top: 20px;
  }
}



.form-heading{
  color: white;
  position: relative;
  top: -55px;
  left: 0px;
  font-weight: bold;
  font-size: 16px;
  padding-left: 80px;
}

.progress{
  margin-left: 240px;
  margin-top: -30px;
  width: 135px;
  height: 15px;
}

.desc{
  width: 295px;
  font-style: italic;
  font-size: 12px;
}

.submit{
  border: solid;
  background: orange;
  padding: 10px 5px;
  width: 100px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  text-align: center;
  border-color: #777;
  border-width: 1px;
  box-shadow: 2px 2px 3px #777;
  position: relative;
  left: 175px;
}

.submit:hover{
  color: black;
  box-shadow: 3px 3px 4px #313131;
}

label{
  max-width: 300px !important;
}

#form2{
  display: none;
  padding-left: 80px;
}
#form3{
  display: none;
  padding-left: 80px;
}
#form4{
  display: none;
  padding-left: 80px;
}
#form5{
  display: none;
  padding-left: 80px;
}
#form6{
  display: none;
  padding-left: 80px;
}
#form7{
  display: none;
  padding-left: 80px;
}

#first_name{
  width: 100px;
}

#last_name{
  width: 100px;
}

input#user_email{
  width: 100px;
}

input#user_phone{
  width: 100px;
}

.more-offer{
  text-decoration: underline;
  padding-bottom: 5px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-top: -10px;
  color: black;
}

.thanks-phrase{
  margin-top: 200px;
  font-size: 28px;
  line-height: 35px;
  background: #eee;
  opacity: 0.75;
  width: 90%;
  padding: 15px;
}

.logos{
  width: 450px;
  padding-top: 10px;
  opacity: 0.7;
  margin-top: 0px;
}

.logos-box{
  background: white;
  position: relative;
  top: -65px;
  height: 100px;
  border-top: solid 3px #313131;
}

.disclaimer{
  font-size: 9px;
}

.privacy{
  font-size: 11px;
}

@media (max-width: 960px) {
  .logos-box {
    top: 0px;
    margin-top: 10px;
  }
}


body {
  background-color: #F8F8F8;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

input[type="text"]{
  height:30px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

form{
  padding-bottom: 100px;
}

.message{
  color: red;
  margin-top: -5px;
  padding-bottom: 5px;
}

.back-link{
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  position: absolute;
  margin-top: -20px;
}

.back-link:hover{
  color: #093E67;
}

.terms-title{
  font-size: 16px;
  font-weight: bold;
  padding-top: 50px;
}

.terms-sub{
  font-size: 14px;
  font-weight: bold;
}
