@import 'bootstrap';

/* Home Banner */

.form-box{
  margin-top: 80px;
  display: block;
  width: 466px;
  height: 332px;
  background: url(formbox.png) no-repeat center center
}

.form-box-heading-1{
  padding-top: 85px;
  padding-bottom: 15px;
  font-weight: bold;
  color: darkblue;
  font-size: 15px;
}

div.firstname{
  float: left;
  margin-left: 35px;
  text-align: left;
}

div.lastname{
  float: right;
  margin-right: 35px;
  text-align: left;
}

div.email{
  float: left;
  margin-left: 35px;
  text-align: left;
}

div.phone{
  float: right;
  margin-right: 35px;
  text-align: left;
}

input#firstname, input#lastname, input#user_email, input#user_phone{
  width: 170px !important;
  height: 25px;
}

.submit{
  background: orange;
  width: 100px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: #313131;
  font-weight: bold;
  border: solid 3px #CCC;
}

.submit:hover{
  background: #FFBC40;
}